## <font color=blue>Contents<font/>

#########################################################################################################

1. **Jupyter setup <br>**
2. **Data Load From APIs <br>**
    * **API 1 - Movie related Qualitative Data**
    * **API 2 - Movie related Quantitative Data**
     <br><br>
3. **Convert API Data to DataFrame <br>**
    * **Convert API data into individual DataFrames**
    * **Merge individual DataFrames into Single DataFrame**
    * **Export Final DataFrame To CSV**

#########################################################################################################

## <font color=blue>Jupyter Setup<font/>

In [1]:
import requests
import sqlite3
import pandas as pd
import numpy as np
import json
import math
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 50)

In [3]:
df = pd.read_csv('Movies2018.csv', engine='python')

In [4]:
df.head()

,popularity,id,video,vote_count_x,vote_average_x,title,release_date,original_language_x,original_title,genre_ids,backdrop_path,adult,overview,poster_path,belongs_to_collection,budget,genres,original_language_y,production_companies,production_countries,revenue,runtime,spoken_languages,vote_average_y,vote_count_y
0,82.25,299536,False,16683.0,8.3,Avengers: Infinity War,2018-04-25,en,Avengers: Infinity War,"[28, 12, 878]",/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg,False,As the Avengers and their allies have continue...,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2.046240e+09,149.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",8.3,16691.0
1,0.6,592448,False,0.0,0.0,Out & Out,2018-11-01,ja,アウト＆アウト,"[80, 18]",NaN,False,NaN,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",ja,"[{'id': 9221, 'logo_path': '/7hEAueutGnsQUyUGn...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]",0.000000e+00,106.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",0.0,0.0
2,38.895,284054,False,14192.0,7.4,Black Panther,2018-02-13,en,Black Panther,"[28, 12, 14, 878]",/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,False,King T'Challa returns home from America to the...,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1.346739e+09,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.4,14195.0
3,0.6,592408,False,0.0,0.0,Never Never Land,2018-01-01,en,Never Never Land,[],NaN,False,NaN,NaN,NaN,0.0,[],en,[],[],0.000000e+00,9.0,[],0.0,0.0
4,31.957,351286,False,6878.0,6.5,Jurassic World: Fallen Kingdom,2018-06-06,en,Jurassic World: Fallen Kingdom,"[28, 12, 878]",/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,False,Three years after the demise of Jurassic World...,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",1.303460e+09,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.5,6881.0

In [21]:
columns_to_keep = ['popularity', 'vote_count_x', 'vote_average_x', 'release_date', 'original_language_x',
                   'genre_ids', 'belongs_to_collection', 'budget', 'genres', 'production_companies', 
                   'production_countries', 'revenue', 'id']

df_reduced = df.loc[:, columns_to_keep]

In [22]:
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10017 entries, 0 to 10036
Data columns (total 13 columns):
popularity               10017 non-null object
vote_count_x             10005 non-null float64
vote_average_x           10005 non-null object
release_date             10005 non-null object
original_language_x      10005 non-null object
genre_ids                10004 non-null object
belongs_to_collection    278 non-null object
budget                   9991 non-null float64
genres                   9991 non-null object
production_companies     9991 non-null object
production_countries     9991 non-null object
revenue                  9991 non-null float64
id                       10005 non-null object
dtypes: float64(3), object(10)
memory usage: 1.1+ MB

pandas.core.frame.DataFrame

550936    1
387592    1
616528    1
511662    1
555249    1
         ..
544501    1
643538    1
654819    1
567420    1
464979    1
Name: id, Length: 10005, dtype: int64